.footer {
    background-color: rgb(246, 246, 248);
    padding-top: 70px;
    padding-bottom: 145px;
}

.list-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.list-container__contacts {
    line-height: 1.9;

}


ul span {
    padding-right: 15px;
}

.list-container h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding-bottom: 28px;
}

.list-container li {
    color: rgb(153, 153, 153);
    font-size: 14px;
    padding-bottom: 17px;
}

.list-container li:hover {
    color: rgb(23, 21, 21);
    transition: .7s ease;
}
.list-style{
list-style: url(../img/icons/footer-icon-arrow.svg);
}

@media (max-width: 768px) {
    .list-container{
        flex-wrap: wrap;
    }
}
@media (max-width: 360px){
    .list-container{
        justify-content:flex-start;
        padding: 10px 10px 20px 20px;
    }
}