.video {
    background-image: url(../img/backgrounds/video-bg.png);
    background-position: center;
    background-size: cover;
    height: 570px;
}


.video-content h2 {
    padding-top: 70px;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
}

.video-content p {
    padding-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.video-container {
    width: 970px;
    /* height: 430px; */
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 50px;



}

.video-container video {
    max-width: 100%;
    border-radius: 5px;

}

.video-line {
    height: 1px;
    border: 1px solid rgb(224, 224, 224);
    margin-top: 142px;
}




@media (max-width: 1859px) and (min-width: 1202px) {
    
    }



/* @media (max-width: 1514px) and (min-width: 1201px) {
    
} */


@media (max-width: 1200px) {
    
    
}

@media (max-width: 992px) {
    .video-container{
        width: 496px;
    }
}

/* @media (max-width: 768px) {
    
} */

@media (max-width: 688px) {
    .video-container{
        width: 320px;
    }
    .video-content h2{
        font-size: 22px;
    }
    .video-content p{
        font-size: 12px;
    }
}

@media (max-width: 450px) and (min-width: 300px) {
    .video-container{
        width: 250px;
    }
    
}