.burger-checkbox {
  position: absolute;
  visibility: hidden;
  }

.burger {
  /* visibility: hidden; */
  z-index: 1;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 35px;
  right: 10vw;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}

.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #ffffff;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #ffffff;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked+.burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked+.burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}

.menu-list {
  top: 100px;
  right: 0px;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: #4985FF;
  list-style-type: none;
  transform: translateX(100%);
  transition: .3s;
  width: 50%;
  /* width: 200px; */
}

.menu-item {
  display: block;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.menu-item:hover {
  background: #2421d694;
}

.burger-checkbox:checked~.menu-list {
  transform: translateX(0);
}